/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-items: center;
  color: var(--color-accent, #000000);
  font-family: var(--font-main, sans-serif);
  font-size: 18px;
  background-color: var(--color-bg, #ffffff);
  background-image: var(--image-bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-normal, 400);
}

.main {
  display: grid;
  justify-items: center;
  gap: 50px;
  padding-block-end: 100px;
  inline-size: var(--page-size, min(100%, 700px));
}

/*header*/
.header {
  display: grid;
  justify-items: center;
  margin-block: 100px;
  border: 2px solid currentColor;
  padding-top: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem); ///убрать////
  padding-bottom: 24px;
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  background-color: inherit;
  inline-size: var(--page-size, min(100%, 700px));
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  outline: 2px solid currentColor;
}

.header__title {
  margin-block-end: 26px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  margin-inline-start: 18px;

  @media (width <= 375) {
      margin-left: 20px;
    }
}

.theme-menu__item {
  line-height: 0;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: inherit;
  background: transparent;
  transition: opacity var(--animation-time, 0.3s) ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
}

/*main*/

/*card*/
.main__cards {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid currentColor;
  background-color: var(--color-bg, #ffffff);
}

.card__title {
  border-bottom: 2px solid currentColor;
  padding: 5px 10px 3px;
  font-size: inherit;
  line-height: 1.21;
  font-variation-settings: "wght" var(--font-bold, 700);
  min-block-size: 33px;
}

.card__image-wrapper {
  position: relative;
  border-bottom: 2px solid currentColor;
}

.card__tag {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  text-shadow: -1px 0 var(--color-bg, #ffffff), 1px 0 var(--color-bg, #ffffff), 0 1px var(--color-bg, #ffffff), 0 -1px var(--color-bg, #ffffff);
  mix-blend-mode: hard-light;
  right: clamp(11px, -0.3221rem + 4.3077vw, 25px);
  top: clamp(23px, 1.2933rem + 0.6154vw, 25px);
}

@supports (text-stroke: 1px var(--color-bg, #ffffff)) or (-webkit-text-stroke: 1px var(--color-bg, #ffffff)) {
  .card__tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg, #ffffff);
    text-stroke: 1px var(--color-bg, #ffffff);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: 95% 50%;
  width: 100%;
  aspect-ratio: 1/1;
}

.card__wrapper {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__button-wrapper {
  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  position: relative;
  display: grid;
  border: 2px solid transparent;
  background: transparent;
  transition: border var(--animation-time, 0.3s) ease;
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
}

.like-icon {
  position: absolute;
  display: block;
  inset-inline-end: -2px;
  inset-block-end: -3px;

  @media (width <= 375px) {
    position: absolute;
    display: block;
    right: -2px;
    bottom: -2px;
  }
}

/*hide sparks*/
.sparks {
  opacity: 0;
}

/*button*/
.button {
  position: relative;
  border: 2px solid var(--color-accent, #000000);
  background-color: var(--color-bg, #ffffff);
  transition: box-shadow var(--animation-time, 0.3s) ease;
  cursor: pointer;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent, #000000);
}

.card__like-button {
  min-width: 130px;
  block-size: 38px;
}