:root {
    --font-main: "Inter-Variable";
    --font-accent: "PressStart2P";
    --font-normal: 400;
    --font-bold: 700;
    --color-bg: #ffffff;
    --color-accent: #000000;
    --color-heart-fill: #ff0000;
}